In [ ]:
import os
os.environ['CUDA_VISIBLE_DEVICES'] = '1'

import anndata as ad
import scanpy as sc
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random
from scipy import stats
import torch
import sys
testset = sc.read_h5ad('muris_mam_spl_T_B.h5ad')

C:\Users\ksush\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\anndata\_core\anndata.py:1754: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

In [8]:
df = pd.DataFrame(testset.X)

In [16]:
df

                                                       0
0        (0, 4)\t1.0\n  (0, 5)\t1.0\n  (0, 13)\t5.0\n...
1        (0, 50)\t21.0\n  (0, 122)\t1.0\n  (0, 145)\t...
2        (0, 50)\t20.0\n  (0, 54)\t1.0\n  (0, 124)\t5...
3        (0, 13)\t2.0\n  (0, 24)\t3.0\n  (0, 39)\t1.0...
4        (0, 39)\t1.0\n  (0, 50)\t23.0\n  (0, 123)\t1...
...                                                  ...
11325    (0, 5)\t1.0\n  (0, 10)\t1.0\n  (0, 13)\t1.0\...
11326    (0, 5)\t1.0\n  (0, 38)\t1.0\n  (0, 50)\t10.0...
11327    (0, 3)\t2.0\n  (0, 4)\t2.0\n  (0, 5)\t3.0\n ...
11328    (0, 10)\t1.0\n  (0, 29)\t1.0\n  (0, 50)\t11....
11329    (0, 4)\t1.0\n  (0, 15)\t1.0\n  (0, 24)\t3.0\...

[11330 rows x 1 columns]